body {
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: monospace;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 900px;
}

ul li {
    list-style-type: none;
    display: inline;
    font-size: 18px;
    color: cornsilk;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    margin: 10px auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: brown;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: brown;
    font-size: 25px;
}

img {
    padding-right: 15px;
}

* {
    box-sizing: border-box;
}


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 50%;
    padding: 180px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.imgetapa {
    border-style: double;
    color: brown;
}

.cajatexto {
    margin: auto;
    width: 800px;
}

.menu {
    margin: auto;
    width: 800px;
    margin-top: -50px;
}

.foot {
    padding-top: 80px;
}

#footer {
    width: 900px;
    padding-top: -50px;
    margin: auto;
    margin-right: 400px;
}

#textodescripcion {
    font-size: 15px;
    margin: auto;
    width: 900px;
    list-style: square;
}

#inner {
    margin: 0 auto;
    padding: 0 20px;
    width: 50%;
    border-radius: 10px;
    padding: 40px;
    margin-right: 500px;
}

@media screen and (max-width: 480px) {
    #inner {
        width: calc(100% - 40px);
    }
}

#poema {
    text-align: right;
}

#foot_desc {
    margin-top: -200px;
}